[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bootImpute"]
	path = bootImpute
	url = https://github.com/jwb133/bootimpute
	shallow = true
	registered = true
[submodule "gFormulaMI"]
	path = gFormulaMI
	url = https://github.com/jwb133/gformulami
	shallow = true
	registered = true
[submodule "InformativeCensoring"]
	path = InformativeCensoring
	url = https://github.com/jwb133/informativecensoring
	shallow = true
	registered = true
[submodule "smcfcs"]
	path = smcfcs
	url = https://github.com/jwb133/smcfcs
	shallow = true
	registered = true
