[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InformativeCensoring"]
	path = InformativeCensoring
	url = https://github.com/jwb133/informativecensoring
[submodule "bootImpute"]
	path = bootImpute
	url = https://github.com/jwb133/bootimpute
[submodule "dejaVu"]
	path = dejaVu
	url = https://github.com/jwb133/dejavu
[submodule "gFormulaMI"]
	path = gFormulaMI
	url = https://github.com/jwb133/gformulami
[submodule "mlmi"]
	path = mlmi
	url = https://github.com/jwb133/mlmi
[submodule "smcfcs"]
	path = smcfcs
	url = https://github.com/jwb133/smcfcs
